---
import { type CollectionEntry, getCollection, render } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPost from "@/components/SeoPost.astro";

import { formatDate } from "@/lib/util";
import Spacer from "@/components/Spacer.astro";

interface Props {
  entry: CollectionEntry<"worlds">;
  streamLink: string | undefined;
}

export async function getStaticPaths() {
  const worlds = await getCollection("worlds");
  return worlds.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const isProduction = import.meta.env.ENVIRONMENT === "production";

if (entry.data.status === "draft" && isProduction) {
  return new Response(null, { status: 404 });
}

const { Content } = await render(entry);
---

<BaseLayout backgroundImage={entry.data.image}>
  <SeoPost
    slot="head"
    entry={entry}
  />

  <div class="mx-auto max-w-3xl px-2">
    <h1 class="mb-4 text-center text-[36px] leading-snug font-bold text-balance text-black dark:text-white">
      {entry.data.title}
    </h1>

    {
      entry.data.publicationDate && (
        <p class="text-muted-text dark:text-dark-muted-text mb-8 text-center">
          {formatDate(entry.data.publicationDate)}
        </p>
      )
    }

    {
      entry.data.image && (
        <Image
          src={entry.data.image}
          alt={entry.data.imageAlt || ""}
          class="mb-12 w-full rounded-lg shadow"
          draggable="false"
        />
      )
    }

    {
      entry.data.audio && (
        <div class="mb-8 rounded-lg bg-[#6A3645]/20 px-6 pt-6 pb-4 text-center shadow-sm backdrop-blur-xl">
          <p class="text-muted-text dark:text-dark-muted-text mx-auto max-w-xl text-sm">
            This world has its own soundtrack. Press play to hear the music that inspired and shapes this experience.
            Feel free to listen as you read or simply take it in on its own.
          </p>
          <audio
            controls
            loop
            class="emotive-audio-player mx-auto"
            style="width: 100%; max-width: 500px;">
            <source
              src={`/audio/${entry.data.audio}`}
              type="audio/mpeg"
            />
            Your browser does not support the audio element.
          </audio>

          {entry.data.streamLink && (
            <div class="mt-4 text-center">
              <a
                href={entry.data.streamLink}
                target="_blank"
                rel="noopener"
                class="text-muted-text dark:text-dark-muted-text inline-block rounded bg-[#6A3645]/20 px-4 py-2 text-sm shadow-sm backdrop-blur-xl hover:underline">
                Stream this track wherever you prefer
              </a>
            </div>
          )}
        </div>
      )
    }

    <div class="prose mx-auto">
      <Content />
    </div>
    <hr class="border-muted-text dark:border-dark-muted-text my-32 border-[0.5px] opacity-10 dark:opacity-15" />

    <div class="text-underline text-sm text-red-500">
      <a href="/worlds"> Dare to explore more worlds?</a>
    </div>
  </div>
</BaseLayout>
